@background-color: #f2f2f2;
@border-color:#e3e3e3;
@dark-grey:#333333;
@active:#ff6666;

@nav-width:315px;
@tablet-portrait-width:800px;

@import "util";

@import "normalize";

html {
	height:100%;

	body {
		height:100%;
		background-color:@background-color;

		nav {
			@media only screen and (min-width:@tablet-portrait-width){
				width:@nav-width;
				height:100%;
				border-right:2px solid @border-color;
				position:fixed;
			}

			header {
				img {
					display:block;
					margin:30px auto 85px;
					@media only screen and (max-width:@tablet-portrait-width){
						margin:10px auto;
					}
				}
				hgroup {
					width:252px;
					margin:0px auto;
					text-align:center;
					font-family:Lekton;
					@media only screen and (max-width:@tablet-portrait-width){
						display:none;
					}

					h1 {
						font-weight:normal;
						font-size:18px;
					}
					h2 {
						font-weight:normal;
						font-size:13px;
						line-height:30px;
					}
				}
			}
			.divider {
				background:url('/images/chazer_emblem.png') no-repeat;
				background-size:contain;
				height:53px;
				width:100%;
				@media only screen and (max-width:@tablet-portrait-width){
					display:none;
				}
			}
			ul {
				list-style-type:none;
				padding:0px;
				margin:0px;

				li {
					text-align:center;
					text-transform:uppercase;
					border-bottom:2px dashed @border-color;
					padding:15px 0px;
					font:18px Lekton;
					color:@dark-grey;
					cursor:pointer;

					&.active {
						color:@active;
					}
				}
			}
		}
		> img {
			float:left;
			width:100%;
			padding-left:@nav-width;
			margin-top:60px;
			-moz-box-sizing:border-box;
			box-sizing:border-box;
			@media only screen and (max-width:@tablet-portrait-width){
				display:none;
			}
		}
		section {
			margin-top:45px;
			border-top:1px solid @border-color;
			background-color:#fff;
			padding:30px 0px 0px 30px;
			@media only screen and (min-width:@tablet-portrait-width){
				float:left;
				margin-left:@nav-width;
			}

			img {
				width:185px;
				height:185px;
				margin-right:30px;
				margin-bottom:30px;
				cursor:pointer;
			}
		}

		@import "modal";
	}
}